data/Brüssel_by_Foot_and_Metro_.gpx
data/unfallatlas/
data/Overture/
data/gruenflaechenkataster-koeln/
*/.DS_Store
.DS_Store
R/.Rhistory
plots/24-places/*
data/gn250.utm32s.csv/*
data/gn250.utm32s.csv.zip
data/EMODnet/*
data/unfallorte-koeln-rad-agg.csv
data/26-transport/*
rosm.cache/*